[Unit]
Description=Casper Node Launcher
Documentation=https://docs.casperlabs.io
After=network-online.target

[Service]
Type=simple
# Environment="CASPER_ENABLE_LIBP2P_NET=1"
ExecStart=/usr/bin/heaptrack /var/lib/casper/bin/1_0_0/casper-node validator /etc/casper/1_0_0/config.toml
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=casper-node-launcher
User=root
Group=root

[Install]
WantedBy=multi-user.target

